*.o
*~
*.log
*.backup
*.aux
*.out
*.toc
*.svg
*.dat
bin/
obj/
# Test binaries
test/test_graph
test/test_graph_layout
test/test_graph_metric
test/test_graph_model
test/test_list
test/test_set
test/test_stat
test/test_sorting
