*.o

# Auxiliaries
*~
*.log
*.backup
*.aux
*.out
*.toc
*.swp
*.bbl
*.blg
*.brf
*.lof
*.lot
*.tcp
*.siglax
*.symbolsx
*.nav
*.run.xml
*.snm

# Raw data
*.dat
summary.txt

# Images
*.svg
*.pbm
*.pdf

# Videos
*.mov
*.flv
*.avi

# Binaries
bin/
obj/

# Test binaries
test/test_graph
test/test_graph_layout
test/test_graph_metric
test/test_graph_model
test/test_list
test/test_set
test/test_stat
test/test_sorting
test/test_graph_propagation
test/test_graph_game

# Java binaries
StabilityModel/dist
StabilityModel/build
StabilityModel/nbproject
