# Auxiliaries
*~
*.log
*.backup
*.aux
*.out
*.toc
*.swp
*.bbl
*.blg
*.brf
*.lof
*.lot
*.tcp
*.siglax
*.symbolsx
*.nav
*.run.xml
*.snm

# Raw data
*.dat
summary.txt

# Images
*.svg
*.pbm
*.pdf
*.png

# Videos
*.mov
*.flv
*.avi

# Binaries
bin/
obj/

